{
  "extends": ["plugin:prettier/recommended"],

  "plugins": ["prettier"],

  "rules": {
    "prettier/prettier": "error",
    "react/self-closing-comp": "error",
    "jsx-a11y/alt-text": "off",
    "import/no-anonymous-default-export": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "react/prop-types": "off",
    "no-unused-expressions": "warn",
    "no-unused-labels": "warn",
    "no-unused-vars": "warn",
    "no-undef": "error"
  }
}
